.gradle/
build/
target/
.settings
google-drive-search-api/bin
google-drive-search-service/bin
google-drive-fragment-global-search/bin
google-drive-auth-generator/.vscode
google-drive-auth-generator/bin
credentials.json
google-drive-portlet-filter/bin
